/* exotel color scheme */
$white: #ffffff;
$green: #40bc86;
$red: #ec555c;
$blue: #199ec7;
$yellow: #fcb410;
$black: #222;
$gray: #babacc;
$a_green: #1c8765;
$brown: #801336;
$light_brown: #c72c41;
$light_red: #fbf0f1;

$light: $white;
$primary-text: $black;
$base_bg: $brown;
$secondary_text: $white;
$base_elements: $gray;
$success: $green;
$outline_color: $light_brown;
$alert: $red;
$accent_color: $light_red;
$selected_color: $red;
